{% if insights[0].description %}
  <section class="doc-evidence-and-insights">
    <table class="govuk-table">
      <caption id="history-and-insights" tabindex="-1" class="govuk-table__caption govuk-table__caption--l govuk-!-padding-top-4">History and insights</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Description</th>
          {# <th scope="col" class="govuk-table__header">Document</th> #}
          {# <th scope="col" class="govuk-table__header">Format</th> #}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for i in range(0, insights | length ) | reverse %}
          {% if insights[i].description %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ insights[i].date }}</th>
              <td class="govuk-table__cell">{{ insights[i].description | markdown }}</td>
              {# <td class="govuk-table__cell">
                {% if insights[i].link and insights[i].title %}
                  <a href="{{ insights[i].link }}" class="govuk-link" rel="noopener noreferrer" target="_blank">{{ insights[i].title }} (opens in a new tab)</a>
                {% endif %}
              </td> #}
              {#<td class="govuk-table__cell">{{ insights[i].documentFormat }}</td>#}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endif %}