{% extends "layouts/main.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}
      {% include 'partials/figma.njk' %}
      {% include 'partials/how-it-works-with-variations.njk' %}
      {% include 'partials/examples.njk' %}

      {% if (contentSchema.link and contentSchema.title) or (contentType.link and contentType.title) or publishingApp or renderingApp %}
        <section class="doc-how-its-built">
          <h2 id="how-its-built" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">How it’s built</h2>
          <p class="govuk-body">These are the underlying technologies that make-up the {{ title | lower }} front template.</p>
          <div class="govuk-grid-row">
            {% if contentSchema.link and contentSchema.title %}
              <div class="govuk-grid-column-one-half">
                <h3 class="doc-how-its-built__subtitle govuk-heading-m">Content schema</h3>
                <p class="govuk-body">
                  <a href="{{ contentSchema.link }}" class="govuk-link" rel="noopener noreferrer" target="_blank">{{ contentSchema.title }} (opens in a new tab)</a>
                </p>
                {{ govukDetails({
                  summaryText: "What is a content schema?",
                  text: "A GOV.UK content schema is a JSON schema that defines the data structure of a piece of content. It determines what content and metadata attributes the page has."
                }) }}
              </div>
            {% endif %}
            {% if contentType.link and contentType.title %}
              <div class="govuk-grid-column-one-half">
                <h3 class="doc-how-its-built__subtitle govuk-heading-m">Content type</h3>
                <p class="govuk-body">
                  <a href="{{ contentType.link }}" class="govuk-link" rel="noopener noreferrer" target="_blank">{{ contentType.title }} (opens in a new tab)</a>
                {{ govukDetails({
                  summaryText: "What is a content type?",
                  text: "Content type describes the types of pages that exist on GOV.UK. It’s stored in the content item (JSON) as <code class='x-govuk-code x-govuk-code--inline'>document_type</code>. It powers search filters in all finders and changes the content type label users see on GOV.UK pages."
                }) }}
              </div>
            {% endif %}
            {% if publishingApp %}
              <div class="govuk-grid-column-one-half">
                <h3 class="doc-how-its-built__subtitle govuk-heading-m">Publishing app</h3>
                {% if publishingApp === "collections publisher" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/collections-publisher.html" class="govuk-link" rel="noopener noreferrer" target="_blank">collections-publisher (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "content publisher" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/content-publisher.html" class="govuk-link" rel="noopener noreferrer" target="_blank">content-admin (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "content tagger" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/content-tagger.html" class="govuk-link" rel="noopener noreferrer" target="_blank">content-tagger (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "local links manager" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/local-links-manager.html" class="govuk-link" rel="noopener noreferrer" target="_blank">local-links-manager (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "mainstream publisher" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/publisher.html" class="govuk-link" rel="noopener noreferrer" target="_blank">mainstream-publisher (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "manuals publisher" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/manuals-publisher.html" class="govuk-link" rel="noopener noreferrer" target="_blank">manuals-publisher (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "maslow" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/maslow.html" class="govuk-link" rel="noopener noreferrer" target="_blank">maslow (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "service manual publisher" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/service-manual-publisher.html" class="govuk-link" rel="noopener noreferrer" target="_blank">service-manual-publisher (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "short url manager" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/short-url-manager.html" class="govuk-link" rel="noopener noreferrer" target="_blank">short-url-manager (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "special route publisher" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/special-route-publisher.html" class="govuk-link" rel="noopener noreferrer" target="_blank">special-route-publisher (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "specialist publisher" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/specialist-publisher.html" class="govuk-link" rel="noopener noreferrer" target="_blank">specialist-publisher (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "travel advice publisher" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/travel-advice-publisher.html" class="govuk-link" rel="noopener noreferrer" target="_blank">travel-advice-publisher (opens in a new tab)</a>
                  </p>
                {% elif publishingApp === "whitehall" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/whitehall.html" class="govuk-link" rel="noopener noreferrer" target="_blank">whitehall (opens in a new tab)</a>
                  </p>
                {% endif %}
                {{ govukDetails({
                  summaryText: "What is a publishing app?",
                  text: "Publishing apps are used by publishers across government departments to publish content to GOV.UK."
                }) }}
              </div>
            {% endif %}
            {% if renderingApp %}
              <div class="govuk-grid-column-one-half">
                <h3 class="doc-how-its-built__subtitle govuk-heading-m">Rendering app</h3>
                {% if renderingApp === "collections" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/collections.html" class="govuk-link" rel="noopener noreferrer" target="_blank">collections (opens in a new tab)</a>
                  </p>
                {% elif renderingApp === "email alert frontend" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/email-alert-frontend.html" class="govuk-link" rel="noopener noreferrer" target="_blank">email-alert-frontend (opens in a new tab)</a>
                  </p>
                {% elif renderingApp === "feedback" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/feedback.html" class="govuk-link" rel="noopener noreferrer" target="_blank">feedback (opens in a new tab)</a>
                  </p>
                {% elif renderingApp === "finder frontend" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/finder-frontend.html" class="govuk-link" rel="noopener noreferrer" target="_blank">finder-frontend (opens in a new tab)</a>
                  </p>
                {% elif renderingApp === "frontend" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/frontend.html" class="govuk-link" rel="noopener noreferrer" target="_blank">frontend (opens in a new tab)</a>
                  </p>
                {% elif renderingApp === "government frontend" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/frontend.html" class="govuk-link" rel="noopener noreferrer" target="_blank">frontend (opens in a new tab)</a>
                  </p>
                {% elif renderingApp === "smart answers" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/smart-answers.html" class="govuk-link" rel="noopener noreferrer" target="_blank">smart-answers (opens in a new tab)</a>
                  </p>
                {% elif renderingApp === "static" %}
                  <p class="govuk-body">
                    <a href="https://docs.publishing.service.gov.uk/repos/static.html" class="govuk-link" rel="noopener noreferrer" target="_blank">static (opens in a new tab)</a>
                  </p>
                {% endif %}
                {{ govukDetails({
                  summaryText: "What is a rendering app?",
                  text: "Rendering apps render content to GOV.UK end-users."
                }) }}
              </div>
            {% endif %}
          </div>
        </section>
      {% endif %}

      {% if components[0].componentName %}
        <section class="doc-components">
          <h2 id="components" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Components</h2>
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">The components used within the {{ title | lower }} frontend template</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Component</th>
                <th scope="col" class="govuk-table__header">Source</th>
                <th scope="col" class="govuk-table__header">Publishing app input field(s)</th>
              </tr>                     
            </thead>
            <tbody class="govuk-table__body">
              {% for i in range(0, components | length ) %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    {% if components[i].componentURL %}  
                      <a href="{{ components[i].componentURL }}" class="govuk-link">{{ components[i].componentName }}</a>
                    {% else %}
                      {{ components[i].componentName | markdown("inline") }}
                    {% endif %}  
                  </th>
                  <td class="govuk-table__cell">
                    {% if components[i].generated === "auto" %}
                      Autogenerated in frontend template
                    {% elif components[i].generated === "publisher" %}
                      Customized by publisher
                    {% elif components[i].generated === "hardcode" %}
                      Hardcoded by developer
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">{{ components[i].input | markdown }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      {% endif %}
      
      {% include 'partials/insights.njk' %}
      {% include 'partials/issues.njk' %}
      {% include 'partials/help-improve.njk' %}

      {{ appProseScope(content) if content }}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}
